* {
    margin: 0;
    padding: 0;
    border: none;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
}

p {
    text-align: center;
    font-size: x-large;
    margin: auto;
}