@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
    --debug-border-color: red;
    
    /* CSS HEX */
    --international-orange-engineering: rgb(195, 0, 0);
    --kombu-green: #374434ff;
    --windsor-tan: #9d5312ff;
    --camel: #bb9b81ff;
    --jonquil: #fbcf1eff;

    /* CSS HEX */
--space-cadet: #1e2245ff;
--st-patricks-blue: #2a2f71ff;
--linen: #fcefe6ff;
--mimi-pink: #f8d0e0ff;
--firebrick: rgb(186, 26, 38);
    
    --game-width: 100%;
    --button-row-width: 75%;

    --background-color:#fcefe6;
    --computer-color:#2a2f71ff;
    
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

header{
   text-align: center;
}

h1 {
    font-size: 72px;
    margin-bottom: 0.5em;
    color: var(--computer-color);
    width: auto;
    letter-spacing: 0.3rem;

}

body {
    font-family: 'Anton', sans-serif;
    
}

#hero {
    background-color: black;
    color: black;
    background: url("../images/hero.webp") no-repeat center center;
    height: 400px;
    overflow: hidden;
}

#rules {
    background: url("../images/Pierre_ciseaux_feuille_lézard_spock.svg") no-repeat center;
    height: 600px;
    overflow: hidden;
}

.rules-overlay {
    width: 100%;
    height: 100% ;
    background-color: rgba(255, 255, 255, 0.7);
}

.hero-overlay {
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255, 0.75) ;
   text-align: center;
}

.hero-overlay p {
    margin-bottom: 2em;
}

button {
    font-size: xxx-large;
    width: 280px;
    height: 100px;
    color:var(--linen);
    background-color: var(--international-orange-engineering);
    border-radius: 12px;

}

/* style the spock span */
.spock {
    text-transform: uppercase;
    color: var(--international-orange-engineering);
}
