@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
    --debug-border-color: red;
    
    /* CSS HEX */
    --international-orange-engineering: rgb(195, 0, 0);
    --kombu-green: #374434ff;
    --windsor-tan: #9d5312ff;
    --camel: #bb9b81ff;
    --jonquil: #fbcf1eff;

    /* CSS HEX */
--space-cadet: #1e2245ff;
--st-patricks-blue: #2a2f71ff;
--linen: #fcefe6ff;
--mimi-pink: #f8d0e0ff;
--firebrick: rgb(186, 26, 38);
    
    --game-width: 100%;
    --button-row-width: 75%;

    --background-color:#fcefe6;
    --computer-color:#2a2f71ff;
    
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

header{
   text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 0.5em;
    grid-row: 1;
    grid-column: 1/6;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: var(--background-color);
}


/* Make every element with this class a flex container */
.flex-container {
    display: flex;
}

/* Make every element with this class a grid container. */
.grid-container {
    display: grid;
}

/* Set size of images.
    All image tiles should fit the size of the container.
*/
.tile {
    width: 80%;
}

/* Style the game area */
game-area {
    justify-items: center;
    width: 100%;
    height: auto;
}

game-play-panel {
   
    width: var(--game-width);
    height: auto;
    justify-content: center;
    align-items: flex-end;
    grid-row: 2;
    grid-column: 1/6;
   
}

/* Style the cards that show the players and computers choices. */
player-card, computer-card {

width: 300px;
height: 300px;
justify-items: center;

}

player-card h2, computer-card h2 {
    font-size: xxx-large;
}

.player-color {
color: var(--international-orange-engineering);
}

.computer-color {
color: var(--computer-color);
}

/* Style the scoreboard */

score-board {
 
    width: 300px;
    height: 200px;
    justify-items: center;
}

score-board h2 {

font-size: xxx-large;
grid-column: 1/3;
grid-row: 1;
align-self: end;
}

score-board p {
    justify-self: center;
    align-self: center;
    font-size: xxx-large;
}
#player-score {
grid-column: 1;
grid-row: 2;
}

#computer-score{
grid-column: 2;
grid-row: 2;
}

#round {
    grid-column: 1/3;
    grid-row: 3;
}

/* Style the game-tile-panel */
game-tile-panel{
   
    width: var(--game-width);
    justify-content: center;
    padding: 1em;
    flex-wrap: wrap;
    grid-row: 3;
    grid-column: 1/6;
    margin-bottom: 1em;
}

game-tile-panel img {
    box-sizing: border-box;
    max-width: 200px;
    padding: 1.5em;
}

/* Style the play button */
#play-button {
    width: 15%;
    height: 100px;
    font-size: xxx-large;
    background-color: #62803c;
    color: var(--linen);
    grid-column: 1/6;
    grid-row: 4;
    border-radius: 12px;
}

.fa-play{
    color: var(--linen);
    
}


settings-panel {
    font-size: xx-large;
    align-items: center;
    flex-direction: column;
    
}

#accept-settings-icon {
    font-size: xxx-large;
}

.settings-item {
    min-width: 300px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
  
}
/* Style the switch */
#difficulty-level-switch {
margin-left: 1em;
width: 35px;
height: 35px;
}

/* Style the slider */

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 270px; /* Full-width */
    height: 25px; /* Specified height */
    background:var(--background-color); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--international-orange-engineering); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--international-orange-engineering); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #home-button {
    font-family: 'Anton', sans-serif;;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    border-radius: 12px;
    font-size: xx-large;
    color: white;
    background-color: var(--international-orange-engineering);
  }

/* Style the modal dialogue box */

modal-dialogue {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.modal-content {
    display: grid;
    margin-top: 0%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;    
}


.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    
}

modal-dialogue button {
    width:250px;
    font-size: xx-large;
    height: 100px;
    margin-left: 10px;
    border-radius: 10px;
    color: whitesmoke;
}

#play-again-button {
    background-color: var(--st-patricks-blue);

}

#end-game-button {
    background-color: var(--firebrick);
}

#modal-message, #end-game-winner {
    font-size: xxx-large;
    background-color: #fefefe;
  margin: 20px auto; /* 15% from the top and centered */
  margin-top: 15%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
width: 100%;
  text-align: center;
}


/* style the spock span */
.spock {
    text-transform: uppercase;
    color: var(--international-orange-engineering);
}



/* Style the elements for the side menu */
/* The basic settings taken from W3 Schools */
.side-menu {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(175, 177, 209);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    font-size: xxx-large;
    flex-direction: column;
    justify-content: space-around;
  }

/* Style the settings icon */

.settings-icon {
    position: fixed;
    font-size: 60px;
    top: 0;
    left: 20px;
}

#image-credits {
    font-size: small;
    min-width: 300px;
    padding-left: 10px;
}
/* Set the default visibility of the difficulty slider to none
We want it to be visible only during the difficult game.
*/

#difficulty-menu-item {
    display: none;
}
/* Media query for a laptop screen */
@media only screen and (max-width: 1024px) {

    h1 {
        font-size: 52px;
    }

    #play-button {
        width: 150px;
    }
}


/* Media query for a mobile screen */

@media only screen and (max-width: 768px){

    h1 {
        font-size: 48px;
    }

    .settings-icon {
        left: 5px;
    }

    game-area {
        margin-top: 1em;
    }

    #play-button {
        height: 100px;
        width: 100px;
        
    }
}

/* Media query for a mobile screen */
@media only screen and (max-width: 425px) {

    .settings-icon {
        font-size: large;
        left: 5px;
    }
    game-area {
        grid-template-areas: 
        "header-area header-area"
        "game-play-panel-area game-play-panel-area"
        "tile-area tile-area" 
        "button-area button-area" 
        
        ;
    }

    game-play-panel {
        align-items: center;
    }

    h1 {
        grid-area: header-area;
        font-size: large;
        margin-bottom: 0;
    }

    score-board h2 {
        font-size: large;
    }

    player-card h2, computer-card h2 {
        font-size: large;
    }



    game-play-panel {
        flex-direction: column;
        grid-area: game-play-panel-area;
    }
    game-tile-panel img {
        width: 60px;
    }
    .tile {
        width: 60%;
    }
    player-card {
        width: 100px;
        height: 100px;
    }

    game-tile-panel img {
        box-sizing: border-box;
        max-width: 60px;
        padding: 0.5em;
    }

    computer-card {
        width: 100px;
        height: 100px;
    }

    score-board {
        width: 120px;
        height: 120px;
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #round, #computer-score, #player-score {
        font-size: large;
    }

    game-tile-panel {
        grid-area: tile-area;
        margin-bottom: 0px;
    }

    #play-button {
        grid-area: button-area;
        width: 150px;
        height: 50px;
        font-size: medium;
    }
    
    settings-panel{
        font-size: x-large;
        justify-content:space-around;
    }

    #difficulty-level-switch {  
        width: 25px;
        height: 25px;
        margin-right: 1em;
        }

    label {
        text-align: center;
    }

    #end-game-winner, #modal-message {
        font-size: medium;
        place-self: center;
         padding-left: 0px;
        padding-right: 0px;
    }

    modal-dialogue button {
        width:100px;
        font-size: medium;
        height: 60px;
        width: 70%;
    }

}


@media only screen and (max-width: 320px){
    h1 {
        margin-bottom: 2px;
    }
    game-tile-panel {
        padding: 0;
    }
  
    game-tile-panel img {
        width: 105px;
        padding: 1em;
    }
    
    player-card {
        width: 125px;
        height: 125px;
    }

    
    computer-card {
        width: 125px;
        height: 125px;
    }

    score-board {
        width: 125px;
        height: 150px;
        margin-top: 2px;
        margin-bottom: 10px;
    }

    #player-choice-card, #computer-choice-card {
        width: 75px;
    }
}