* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Make every element with this class a flex container */
.flex-container {
    display: flex;
}

/* Make every element with this class a grid container. */
.grid-container {
    display: grid;
}

/* Set size of images.
    All image tiles should fit the size of the container.
*/
.tile {
    height: 100%;
}
/* Style the game area */
game-area {
    justify-items: center;
    width: 100%;
    height: auto;
}

/* Style the cards that show the players and computers choices. */
player-card, computer-card {
width: 300px;
height: 300px;
}